body {
	margin: 0;
	padding: 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

#menu-parent {
    width: 700px;
    position: relative;
    z-index: 1;
}


#map-box-map { 
	position: absolute !important;
    width: 100%;
	top: 0 !important;
    right: 0 !important;
	bottom: 0 !important;
    left: 0 !important;
	z-index: 0;
}



#layersMenu {
	background: #fff;
	position: absolute;
	z-index: 2; 
	top: 10px;
	right: 10px;
	border-radius: 3px;
	width: 120px;
	border: 1px solid rgba(0,0,0,0.4);
	font-family: 'Open Sans', sans-serif;
}

#layersMenu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#layersMenu a:last-child {
    border: none;
}

#layersMenu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#layersMenu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#layersMenu a.active:hover {
    background: #3074a4;
}


#navigation {
	height: 100vh; /* Span height full viewport */
    background-color: white;
	z-index:2;
    float: left;
    /*width: 350px;*/
    width: 50%;
}


#navigation h2 {
	text-align: center;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 800;
	font-size: 30px;
	color: red;
}

#navigation form {
	padding: 0px 25px 0px 25px;

}

#navigation input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:hover {
    opacity: 0.8;
}

input[type=submit] {
    width: 100%;
    background-color: IndianRed;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#floorsInfo li {
 display: inline-block;
 padding-right: 20px;
 width: 20px;
 text-align: center;
}

#buildingInfo li {
    display: inline-block;
}

button {
    padding: 10px;
    background-color: white;
    text-decoration:none;
    border-style: solid;
    border-color: black;
}

#metrics-menu {
    height: 100vh; 
    background-color: white;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    border-style: none none none solid;
    padding-left: 15px;
    float: left;
    width: auto;
}

#metrics-menu h2 {
    text-align: center;
}

#metrics-menu input {
    float: right;
    margin-right: 20px;
}

#calculations {
    margin-top: 50px;
}
